.DS_Store
.Thumbs.db
.settings
logs/*.log
settings.xml
.netbeans
web.config
coldbox
testbox
tests/results
apidocs
!apidocs/box.json
!apidocs/server.json
!apidocs/Application.cfc
workbench/build.number
artifacts
build
modules/*
!modules/cbmongodb
