.DS_Store
.Thumbs.db
.settings
logs/*.log
settings.xml
.netbeans
web.config
coldbox
testbox
test/results/*.properties
test/results/*.html
test/results/*.log
apidocs
!apidocs/box.json
!apidocs/server.json
!apidocs/Application.cfc
artifacts
build
modules/*
!modules/cbmongodb
