.DS_Store
.Thumbs.db
.settings
logs/*.log
settings.xml
.netbeans
web.config
coldbox
testbox
test/results/*.properties
test/results/*.html
test/results/*.log
/apidocs/CBMongoDB-APIDocs/
/apidocs/docbox
modules/*
!modules/cbmongodb
